body {
	font-family: Podkova, sans-serif;
	color: rgb(85,98,112);
	margin:0;
	padding:0;
}


/*
* MAP elements
*/
#map {
	height:100%;
}
#mapContainer {
	z-index:-1;
	position:fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}


/*
* HEADER navigation elements
*/

.header {
	color: #1BB0CE;
	font-size: 3em;
	box-sizing: border-box;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;
	width:100%;
	z-index: 0;
}

.header__elem {
	background-color: rgba(255,255,255,0.95);
	text-shadow: 0 0 1em white;
	margin: 0.25em;
	height: 1em;
}

.header__elem__hamburger {
	line-height: 1.1em;
	cursor: pointer;
}
.header__elem__hamburger:hover {
	color: rgb(85,98,112);
}
.header__elem__hamburger:before {
	content: "\2630";
}
.header__elem__h1 {
	font-weight: 800;
}

/*
* Responsive Elements
* 1. the font size in the header shrinks
* 2. the width of the infoWindow is fixed at lower resolutions
*
*/
@media (max-width: 600px) {
  .header__elem {
    font-size: 0.5em;
  }
  .header__elem__hamburger {
    font-size: 1em;
  }

  #infoWindow {
	  width: 220px;
	  height: 212px;
	  overflow: auto;
  }

}

/*
* NAV. list of places + a search input.
*/
.nav {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(85,98,112,0.9);
	color: white;
	text-align: center;
	z-index: 10000; /* probably not necessary */
	box-sizing: border-box;
	overflow: scroll;
}

.nav__list {
	clear: both;
}

.nav__search {
	margin: 1em auto;
	clear: both;
}
.nav__search__input {
	font-size: 1.5em;
	border: 0.2em #1BB0CE solid;
	border-radius: 0.2em;
	padding: 0.2em;
	width: 300px;
}
.nav__list__item {
	max-width: 320px;
	margin: 0.25em auto; /*TODO add media query*/
	font-size: 1.5em;
	background-color: #1BB0CE;
	cursor: pointer;
}
.nav__float__close {
	float: right;
	color: white;
	text-decoration: underline;
	font-size: 1.5em;
	margin-right:1em;
	cursor: pointer;
}

/*
* CurrentPlace: displays detail of currentPlace()
*/
.currentPlace {
	margin-top: 2em;
	border-top: 0.2em solid #1BB0CE;
	border-bottom: 0.2em solid #1BB0CE;
	padding: 0.2em;
	background-color: rgba(255,255,255,0.85);
	box-sizing: border-box;
	transition: 0.5s;
	text-align: center;

}
.currentPlace__hide {
	font-size: 1.2em;
	border: 0.1em solid #1BB0CE;
	border-radius: 0.5em;
	margin-top: 0.2em;
	margin-right: 0.2em;
	float: right;
	padding: 0.2em;
	background-color: white;
	color: #1BB0CE
}
.currentPlace__hide:hover {
	background-color: #1BB0CE;
	color: rgb(255,255,255);

}
.currentPlace__name {
	text-align:center;
}
.currentPlace__address {
	text-align:center;
	color: #1BB0CE;
}
.currentPlace__section {
	text-align: center;
}
.currentPlace__section__wiki {
	display: inline-block;
	padding: 0.25em;
}
.currentPlace__section__wikiImg {
	height: 1em;
	width: 1em;
}
.currentPlace__markerError {
	color: red;
}
